# App Environment
ENV=localhost

# Redis
REDIS_HOST=localhost
REDIS_QUEUE=chat:queue

# Ollama LLM Inference (Chat)
OLLAMA_CHAT_BASE_URL=http://localhost:12434
OLLAMA_CHAT_MODEL=llama3.2:3b

# Ollama Embedding
OLLAMA_EMBED_BASE_URL=http://localhost:12435
OLLAMA_EMBED_MODEL=nomic-embed-text

# Vector DB (FAISS Service)
VECTORDB_URL=http://localhost:6333

# API URL for Local Tests
API_URL=http://localhost:8000
