🎬 {{ title }} ({{ year }})
📀 Type: {{ media_type }}
{% if genres -%}
🗂️ Genres: {{ genres | join(', ') }}

{% endif %}
{% if overview -%}
📝 Summary: {{ overview }}

{% endif %}
{% if tagline -%}
💬 Tagline: "{{ tagline }}"

{% endif %}
{% if actors -%}
👥 Cast: {{ actors | join(', ') }}

{% endif %}
{% if certificate -%}
🔞 Certificate: {{ certificate }}

{% endif %}
{% if language -%}
🗣️ Language: {{ language }}

{% endif %}
